<!DOCTYPE html>

<% provide(:title,("Home")) %>
<div class="container">
  <div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">

        <div class="item active">
          <%= image_tag("carousel4.jpg", :alt => "rss feed" , class: "img2") %>
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">
              <h2 style="color:white">
                <span>
                  Welcome to
                  <strong>Gearshop</strong>
                </span>
              </h2>
              <br>
              <br>
            </div>
          </div>
        </div>

        <div class="item">
          <%= image_tag("carousel5.jpg", :alt => "rss feed" , class: "img2") %>
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">
              <h2 style="color:white">
                <span>Best products on best prices!</span>
              </h2>
              <br>
              <br>
            </div>
          </div>
        </div>

        <div class="item">
          <%= image_tag("carousel3.jpg", :alt => "rss feed" , class: "img2") %>
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">
              <h2 style="color:white">
                <span>Start exploring</span>
              </h2>
              <br>
              <br>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <%= render 'shared/products' %>
</div>


<!--
<% if false %>
<% if logged_in? %>
 <div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div> 
# <%end %>
# <% end %>
# <% if !logged_in? %>
# <%end %>
-->
