<h3>
  <%= link_to ( gravatar_for User.find_by(id:order.user_id), size: 100 ) , User.find_by(id:order.user_id) %>
  Order ID
  <%= order.id %>
  -
  <%= order.created_at.strftime("%H:%M %d %b. %Y") %> </h3>
<p>
  <strong>Tên Khách Hàng:</strong>
  <%= User.find_by(id: order.user_id).name %><br>

  <strong>Số điện thoại:</strong>
  <%= User.find_by(id: order.user_id).phone_number %><br>

  <strong>Email:</strong>
  <%= User.find_by(id: order.user_id).email %><br>

  <strong>
    Địa chỉ</strong>
  <div class="well well-sm"><%= order.address %></div>

  <strong>Lưu ý:</strong>
  <%= order.description.length > 10 ? order.description : "Không có" %><br>
</p>
<p>
  <h3>Giá trị đơn hàng:
    <%= number_to_currency(order.sub_total) %></h3>
</p>

<button type="button" class="btn btn-success" data-toggle="collapse" data-target="#<%= order.id %>">Show Items</button>
<div id="<%= order.id %>" class="collapse">
  <ul class="users">
    <% order.line_items.each do |item| %>
      <%= item.quantity %>
      x
      <%= render 'shared/order_product' , product:item.product%>
    <% end %>
    <br/>
  </ul>
</div>

<!-- Only Admin is allowed to modify Orders -->
<% if logged_in? && current_user.admin? %>
  <%= link_to edit_order_path(order) do %>
  <i class="glyphicon glyphicon-pencil" style="color:darkgray"></i>
  Edit
<% end %>
or
<!-- Basket -->
<%= link_to order, method: :delete, data: { confirm: 'Are you sure?' } do %>
<i class="glyphicon glyphicon-fire" style="color:firebrick"></i>
Destroy
<% end %>
<% end %>

<hr/>
