<div class="center jumbotron">
  <%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %>
        prohibited this order from being saved:</h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Địa chỉ nhận hàng' %><br>
    <%= f.text_field :address, rautofocus: true, required: true, value: current_user.address %>
  </div>
  <div class="field">
    <%= f.label 'Phương thức thanh toán' %>
    <%= f.text_field :pay_method, value: 'Giao hàng thu tiền (COD)', :readonly => true %>
  </div>
  <div class="field">
    <%= f.label 'Thông tin thêm' %><br>
    <%= f.text_area :description, placeholder: 'Bạn muốn lưu ý gì khi mua hàng?' %>
  </div>
    <div class="actions">
      <%= f.submit 'Đặt hàng', class: 'btn btn-primary' %>
    </div>

    <%= render 'shared/cart2' , :cart => @cart %>
  <% end %>
</div>
