<nav class="navbar  navbar-inverse">
  <div class="container-fluid">
    <!-- FOOTER START================== -->
    <footer class="footer">
      <div class="container">

        

        <hr class="style15">

        <div class="row">
          <div class="col-sm-3">
            <h4 class="title">Về chúng tôi</h4>
            <p>Chuyên kinh doanh các loại gaming gear</p>
            <h5>Địa chỉ:</h5>
            - Đại học công nghệ thông tin TP.HCM
            <h5>Liên hệ:</h5>
            - 08 123456
            <h5>Giờ làm việc: 8:00 - 18:00</h5>
            <%= image_tag('http://online.gov.vn/PublicImages/2015/08/27/11/20150827110756-dathongbao.png', size: "260x100") %>
          </div>
          <div class="col-sm-3">
            <h4 class="title">My Account</h4>
            <span class="acount-icon">
              <%= link_to orders_path do %>
              <i class="fa fa-heart" aria-hidden="true"></i>
              Đơn hàng
            <% end %>
            <%= link_to cart_path(@current_cart) do %>
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Giỏ hàng
          <% end %>
          <%= link_to current_user do %>
          <i class="fa fa-user" aria-hidden="true"></i>
          Profile
        <% end %>
        <%= link_to users_path do %>
        <i class="fa fa-users" aria-hidden="true"></i>
        Người sử dụng
      <% end %>
      <!-- <a href="#"> <i class="fa fa-globe" aria-hidden="true"></i> Language</a> -->
    </span>
  </div>
  <div class="col-sm-3">
    <h4 class="title">Category</h4>
    <div class="category">
      <a href="#">Gaming Gear</a>
      <a href="#">Logitech</a>
      <a href="#">Bàn phím không dây</a>
      <a href="#">Chuột không dây</a>

    </div>
  </div>
  <div class="col-sm-3">
    <h4 class="title">Phương thức thanh toán</h4>
    <p>Thanh toán bằng:</p>
    <ul class="payment">
      <li>
        <a href="#">
          <i class="fa fa-credit-card" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-paypal" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cc-visa" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<hr class="style18">

<div class="row text-center">

  ©
  <%= Date.today.year %>
  .
  <a href="#" target="_blank">letranthetoan
  </a>

</div>

</div>

</footer>

</div>
</div>

</div>
</nav>
