<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse js-navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <a class="navbar-brand" href="#">
          <%= link_to "Gearshop", root_path, id: "logo" %>
        </a>    
        <!-- <li> <a href="#">Store locator</a> </li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- Home -->
        <li><%= link_to root_path do %>
          <i class="glyphicon glyphicon-home"></i>
          Trang chủ
        <% end %>
      </li>

      <!-- Users -->
      <% if logged_in? %>
        <% if @current_user.admin? %>
        <li><%= link_to users_path do %>
          <i class="fa fa-users"></i>
          Thành viên
          <span class="badge ">
            <i id="total_cart_items_badge">(<%= User.count %>)</i>
          </span>
        <% end %>
        <% end %>
      </li>

      <!-- Cart -->
      <li><%= link_to cart_path(@current_cart) do %>
        Giỏ hàng
        <span class="badge ">
          <i class="fa fa-cart-plus" style="color:#FFD700; font-size:20px"></i>

          <i id="total_cart_items_badge">(<%= @current_cart.line_items.count %>)</i>
        </span>
      <% end %>
    </li>

    <!-- Orders -->
    <li><%= link_to orders_path do %>
        <%if @current_user.admin? %>
        Đơn hàng
      <span class="badge ">
          <i class="fa fa-shopping-basket" style="color:#FFD700; font-size:20px"></i>
          (<%= @current_user.orders.count %>) Admin / (<%= Order.count%>) Total
        <% end %>
      </span>
    <% end %>
  </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= gravatar_for @current_user, size: 20 %>
      Tài khoản
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <div class="navbar-content">
          <div class="row">
            <div class="col-md-5">
              <!-- <img src="http://placehold.it/120x120" alt="Alternate Text" class="img-responsive"/> -->
              <%= gravatar_for @current_user, size: 120 %>
              <p class="text-center small">
                <%= link_to edit_user_path(current_user) do %>
                <i class="glyphicon glyphicon-picture"></i>
                Đổi ảnh đại diện
              <% end %>
            </p>
          </div>
          <div class="col-md-7">
            <span><%= @current_user.name %></span>
            <p class="text-muted small">
              <%= @current_user.email %></p>
            <div class="divider"></div>
            <%= link_to current_user , class: "btn btn-primary btn-sm active" do %>
            <i class="glyphicon glyphicon-eye-open"></i>
            Xem thông tin
          <% end %>
          <% if !@current_user.admin?  %>
            <div>
              <%= link_to 'Xem đơn hàng', orders_path  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="navbar-footer">
      <div class="navbar-footer-content">
        <div class="row">
          <div class="col-md-6">
            <%= link_to edit_user_path(current_user), class:"btn btn-default btn-sm" do %>
            <i class="glyphicon glyphicon-cog"></i>
            Đổi mật khẩu
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to logout_path,class: "btn btn-default btn-sm pull-right", method: :delete do %>
          <i class="glyphicon glyphicon-off"></i>
          Thoát
        <% end %>
      </div>
    </div>
  </div>
</div>
</li>
</ul>
</li>

<% else %>

<!-- Log In -->
<li><%= link_to login_path do %>
<i class="glyphicon glyphicon-log-out"></i>
Đăng nhập
<% end %>
</li>

<% end %>
</ul>
</ul></div><!-- /.nav-collapse --> </div> <!-- /.container-fluid --></nav><aside id="accordion" class="social text-vertical-center"> <div class="accordion-social"><ul class="panel-collapse nav nav-stacked collapse" role="tabpanel" aria-labelledby="social-collapse" id="collapseOne" aria-expanded="false">
<li>
<a href="http://www.goxr3plus.co.nf" target="_blank">
<i class="fa fa-lg fa-facebook"></i>
</a>
</li>
<li>
<a href="http://www.goxr3plus.co.nf" target="_blank">
<i class="fa fa-lg fa-twitter"></i>
</a>
</li>
<li>
<a href="http://www.goxr3plus.co.nf" target="_blank">
<i class="fa fa-lg fa-google-plus"></i>
</a>
</li>
<li>
<a href="http://www.goxr3plus.co.nf" target="_blank">
<i class="fa fa-lg fa-github"></i>
</a>
</li>
<li>
<a href="http://www.goxr3plus.co.nf" target="_blank">
<i class="fa fa-lg fa-linkedin"></i>
</a>
</li>
<li>
<!-- <a href="skype:live:soldierupdesigns?call"> <i class="fa fa-lg fa-skype" target="_blank"></i> </a> -->
</li>
<li>
<a href="http://www.goxr3plus.co.nf" target="_blank">
<i class="fa fa-lg fa-stack-exchange"></i>
</a>
</li></ul> </div></aside>
